body
{
	font-family: 'Open Sans', sans-serif;
	width: 100%;
    height: 100%;
	margin: 0px;
	background-color: #616161;
}

.nav_ul
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-bottom: 3px solid #4CAF50;
}

.active 
{
    background-color: #4CAF50;
}

.nav_li
{
	float: right;
	border-right: 1px solid #bbb;
	border-left: 1px solid #bbb;
}

.nav_link
{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_link:hover 
{
    background-color: #111;
}

.main_wrapper
{
	width: 90%;
	margin: 20px 0 0 5%;
    border: 3px solid #4CAF50;
    background-color: white;
    text-align: center;
    min-height: 500px;
}

.item_box
{
	border: 3px solid #4CAF50;
	display: inline-block;
	width: 20%;
	margin: 5px;
	padding: 5px;
}

.item_img
{
	max-width: 200px;
	max-height: 200px;
}

.item_info
{
	text-align: center;
}

.row
{
	padding-top: 15px;
	padding-bottom: 15px;
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4caf50;
    border-top: 3px solid #333;
    color: white;
    text-align: center;
}

.form_div
{
    margin: 50px;
    padding: 15px;
    border: 3px solid #4CAF50;
}


.delButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
}
.delButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    background-color:#bc3315;
}
.delButton:active {
    position:relative;
    top:1px;
}

h1, h2, h3, h4
{
    color: #4CAF50;
}

a
{
    text-decoration: none;
    font-style: italic;
}

.holder
{
    width: 60%;
    margin-left: 20%;
    display: block;
    padding: 5px;
    border: dashed 1px #4CAF50;
}

.form_hold
{
    padding: 50px;
    text-align: center;
}












