body {background-color: #1a1a1a;}

.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
	background-color:#eae0c2;
	border: 1px solid #3881ff;
	display:inline-block;
	cursor:pointer;
	color:#3881ff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f3f0ff;
	position: absolute;
	width: 100%;
	text-align: center;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
	background-color:#ccc2a6;
}
.myButton:active {
	position:relative;
	top:1px;
}


.dropdown{
	position: relative;
	display: inline-block;
	min-width: 250px;
	margin: 2% 0 0 40%;
}

.dropdown-content{
	overflow: auto;
	display: none;
	position: absolute;
	background-color: #262626;
	min-width: 284px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	margin: 45px 0px 0px 0px;
	z-index: 1;
	border: 2px solid #3881ff;
	box-sizing: border-box;
}

.dropdown-content a {
	color: #f9f9f9;
	padding: 12px 16px;
	text-decoration: none;
	text-align: center;
	display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1; color: #3881ff; font-style: italic; font-size: 18px;}


.dropdown:hover .dropdown-content {display: block;}

hr {border-color: #3881ff; box-shadow: 1px}
